.footer {
  padding: 14px clamp(12px, 3vw, 22px);
  background: #f9f9f9;
  border-top: 1px solid #e4e4e4;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.footer-logo {
  height: auto;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__text {
  font-size: 0.9rem;
  color: #666;
}
