* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Inter, Arial,
    sans-serif;
  --font-weight: 600;
  --font-size: 0.95rem;
  --line-height: 1;
}

body {
  font: var(--font-weight) var(--font-size) / var(--line-height)
    var(--font-family);
}
